.LL{
  background: rgb(7,5,31);
  background: linear-gradient(90deg, rgba(7,5,31,1) 13%, rgba(9,7,24,0.9719537473192402) 42%, rgba(30,57,86,1) 100%);
}
@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .text-animation {
    animation: fadeInOut 1s linear infinite;
  }